
.dark-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../img/brooklyn-MO5qO9xpZhA-unsplash.jpg"); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.secfot{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../img/lukas-meier-aAxn9pYE8L0-unsplash.jpg"); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}


#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../img/compare-fibre-tiSE_paTt0A-unsplash.jpg"); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container{
    height: 50vh;
}

.logo img{
    width: 80px;
    height: 80px;
}

.navbar{
    background: linear-gradient(to right,#d0352f,#d9534f);
}

.generic{
    padding: 45px;
}

section#latest .latest-item img{
    min-height: 100%;
    width: 100%;
}

section#latest button {
    max-height: 250px;
    padding: 0;
    overflow: hidden;
}

section#latest .latest-item{
    position: relative;
}

section#latest .latest-item:hover .overlay{
    opacity: 1;
    background-color: rgba(189,61,75, .7);
}

section#latest .latest-item:hover i{
    opacity: 1;
    transform: none;
}

section#latest .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(189,61,75, 1);
    opacity: .4;
    color: #fff;
    transition: all .5s;
}

section#latest .overlay i{
    transform: translate(20px);
    transition: all .5s;
    opacity: 0;
    font-size: 2rem;
}

html, body {
    overflow-x: hidden;
}

ul{
    margin: 0;
    padding: 0;
}
.row-2 li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.row-2 li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.row-2 li a:hover{
    color: #b9b9b9;
}
